header#main-header {
  top: 10px;
  left: 100px;
  right: 100px;
  height: 65px;
  display: flex;
  position: fixed;
  height: 65px;
  background-color: clear;
}

svg {
  scale: 1.3;
}

ul#first-section {
  text-align: center;
  width: 55%;
  display: flex;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
ul {
  gap: 10;
  display: inline-block;
}
ul#second-section {
  text-align: center;
  width: 30%;
}

li {
  display: inline-flex;
  padding: 10px 50px;
}


div#blank-section {
  width: 25%;
  height: 65px;
}
