body {
  top: 65px;
  position: relative;
  background-color: rgba(21, 21,21);
}
h2#sync-text-header {
  color: #a78bfa;
  font-weight: 10;
  font-size: 20px;
}

p,h1,h2,h3, div.feature-item { 
  color: white;
}

li { 
  color: white;
}


section#sync-button-section {
  display:flex;
  gap: 300px;
}
div#feature-container {
  display: block;
}

svg {
  scale: 1.2;
}

footer {
  background-color: yellow;
}
