header#main-header {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 65px;
  background-color: green;
}
li.header-item {
  font-size: 22px;
}
body {
  top: 65px;
  position: relative;
}
footer { 
  background-color: yellow;
}
h2#sync-text-header {
  color: #a78bfa;
}

ul > li {
  font-size: 20px;
}

ul#second-section {
  position: relative;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul#first-section > li {
  padding: 14px;
}

ul#second-section > li {
  padding: 14px;
}
li {
  display: inline-flex;
  padding: 10px 50px;
}

div#feature-container {
  display: block;
}

div.header-flex-container {
  display: flex;
  align-items: center;
}
