body {
  zoom: 1;
  top: 65px;
  padding-right: 5%;
  padding-left: 5%;
  position: relative;
  background-color: rgba(21, 21, 21);
}

/* Header */

header#main-header {
  padding: 10px;
  height: 65px;
  display: flex;
  position: fixed;
  width: 100%;
  height: 65px;
  min-width: 400px;
  background-color: transparent;
  overflow: auto;
}

ul#first-section {
  text-align: center;
  width: 55%;
  display: flex;
  gap: 0px;
  float: left;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

ul#second-section {
  display: flex;
  float: right;
  gap: 0px;
}

div#blank-section {
  height: 65px;
  width: 100px;
}

ul#second-section > li {
  font-weight: bold;
}
ul#first-section > li {
  font-weight: bold;
}

ul {
  gap: 10px;
  display: inline-block;
}

li#obsidian-logo-label {
  padding-top: 4px;
}

#sync-button-section {
  width: 450px;
  height: 60px;
}

li {
  display: inline-flex;
  padding: 10px 50px;
}

/* Sync header section */

section#sync-header-section {
  padding-top: 200px;
  padding-bottom: 250px;
}

h2#sync-text-header {
  color: #a78bfa;
  font-weight: lighter;
  font-size: 50px;
}

section#sync-header-section > h3 {
  font-size: 25px;
}

h1#all-your-notes {
  font-weight: bold;
  font-size: 60px;
  width: 40%;
  height: 60px;
  padding-bottom: 50px;
}

p,
h1,
h2,
h3,
div.feature-item {
  color: white;
}

div#sync-button-section {
  display: flex;
  gap: 25px;
}

li {
  color: white;
}

section#sync-button-section {
  display: flex;
  gap: 300px;
}
div#feature-container {
  display: block;
}

svg {
  scale: 1.6;
}

footer {
  background-color: yellow;
}
